@font-face {
    font-family: 'Programme';
    src: local('Programme Light'), local('Programme-Light'),
        url('Programme-Light.woff2') format('woff2'),
        url('Programme-Light.woff') format('woff'),
        url('Programme-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }